body{
    background-image: url(../images/dither.png); 
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: flow-root;
}


header{
    font-family: Pixelify Sans;
    font-size: 25px;
    color: yellow;
    border: solid rgb(255, 255, 255);
    text-align: center;
    padding: 1px;
    width: 50%;
    margin: auto;
    margin-top: 30px;
    box-shadow: 3px -3px 2px rgb(143, 143, 143);
    
}


header:hover {
    animation-name: glow;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

header h2{
    text-shadow: 1px 1px 4px orange;
    
}

main{
    font-family: Tiny5;
    width: 50%;
    margin: auto;
    text-align: center;
    border: solid white;
    min-height: 70vh;
    margin-top: 30px;
    box-shadow: 3px -3px 2px rgb(143, 143, 143);
    overflow: auto;
}
#bemvindo{
    margin: 20px;
    color: white;
    
}
#bemvindo h4 {
    font-weight: bold;
    font-size: 20px;
}

#img1{
    height: 200px;
    display: block;
    float: right;
    position: fixed;
    bottom: 0px;
    right: 0px;
}

#img2{
    height: 280px;
}

#img1:hover{
    animation-name: rotate;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    cursor: pointer;
}

.sessoes{
    display: inline-block;
    margin: 10px 10px;
    padding: 10px;
}

.yello{
    color:yellow;
    text-shadow: 1px 1px 3px;
}

.yello:hover{
    text-shadow: 1px 1px;
}

.dropdown{
    display: inline-block;
}

.dropdown a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 2px 10px;
}


.dropdown .content{
    display: none;
    float: right;
    position: fixed;
    bottom: 70px;
    right: 140px;
    background-color: black;
    border: solid white;
    box-shadow: 2px 2px 2px rgb(143, 143, 143);
}

.dropdown:hover .content {
    animation-name: slideUp;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    display: block;
}

.dropdown a:hover{
    background-color:rgb(53, 53, 53);
}

footer{
    font-family: Tiny5;
    color: yellow;
    border: solid rgb(255, 255, 255);
    text-align: center;
    width: 50%;
    margin: auto;
    margin-top: 20px;
    box-shadow: 3px -3px 2px rgb(143, 143, 143);
}

footer:hover{
    animation-name: glow;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

.discos:hover{
    animation-name: grow;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
}

.voltarpag{
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
}

.voltarpag:hover{
    color: yellow;
}

.icones:hover{
    animation-name: select;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
.descricao{
    padding: 10px;
}

@keyframes glow{
    50%{box-shadow: 0px 0px 50px yellow} 
}

@keyframes rotate{
    100%{transform: rotatez(360deg)}
}

@keyframes slideUp{
    from{transform: translateY(400px);}
}

@keyframes grow{
    50%{transform: scale(1.1,1.1);}
}

@keyframes select{
    100%{transform: scale(1.1,1.1) rotatez(5deg);}
}

@media screen and (max-width:600px){
    main,header,footer{
        width: 90%;
    }

    .dropdown .content{
    
    bottom:150px;
    right: 20px;
    
    }
    #img2{
        height: 200px;
    }
    
}