body{
    background-image: url(../images/dither.png); 
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: flow-root;
    font-family: Tiny5;
}

#monitorEspaco{
    margin: auto;
    width: 80%;
    text-align: center;
    
}

.monitorContainer {
    position: relative;
    display: inline-block;
}

.truemonitor {
    position: relative;
    display: block;
    margin: auto;
}

.monitorImagem {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    height: 180px;
    opacity: 0;
    animation-name: fade;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards; 
    
}


#caminhoNome{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 250%);
    color: white;
    
}

.linkCaminho{
    color:white;
    text-decoration: none;
    cursor: pointer;
}

.linkCaminho:hover{
    text-shadow: white 0px 1px 10px,
                white 0px -1px 10px;
    transition: box-shadow 0.5s;
}

#textoEspaco{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 130%);
}

#monitorTextBox{
    font-size: 15px;
    text-align: center;
    color: white;
    background-color: black;
    border: solid 2px white;
    font-family: Pixelify Sans;
    padding: 5px;
}

#buttonEnviar{
    color: white;
    background-color: black;
    border: solid 2px white;
    font-family: Pixelify Sans;
    padding: 5px;
    margin: 10px;
    cursor: pointer;
}

#buttonEnviar:hover{
    box-shadow: white 0px 1px 10px,
                white 0px -1px 10px;
    transition: box-shadow 0.5s;
}

#monitorTextBox:hover{
    box-shadow: white 0px 1px 10px,
                white 0px -1px 10px;
    transition: box-shadow 0.5s;
}

#monitorTextBox:focus{
    box-shadow: white 0px 1px 10px,
                white 0px -1px 10px;
    transition: box-shadow 0.5s;
}

.voltarpag{
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
}

.voltarpag:hover{
    color: yellow;
}

@keyframes fade{
    100%{opacity: 100}
}